# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Secrets
.env
*.env

# Build artifacts
build/
dist/
*.egg-info/

# Other
.DS_Store

# Generated data files
data/processed_features.json